<div class="col-md-8">
	<p><%= notice %></p>

	<h1><%= @friend.full_name %>'s Workouts</h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Duration (min)</th>
			<th>Workout Details</th>
			<th>Activity Date</th>
		</tr>
	</thead>
	<tbody>
		<% @workouts.each do |workout| %>
			<tr>
				<td><%= workout.duration %></td>
				<td><%= workout.workout_details %></td>
				<td><%= workout.activity_date %></td>
			</tr>
		<% end %>
	</tbody> 
</table>

<br>

<%= content_tag :div, "", id: 'workout-chart', data: { workouts: @workouts } %>

<br>

<%= link_to 'Back', user_workouts_path(current_user), class: 'btn btn-primary' %>